/* BREADCRUMB */
.breadcrumbs {
  padding: 0 0 1em;
  margin: 0;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    background: none;
    float: none;
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
  }

  ul li {
    &:before {
      font-family: arial, sans-serif;
      padding: 0 0.7em 0 0;
      font-size: 13px;
      display: inline-block;
      content: "\003e" !important;
      color: #BBB;
    }

    &:first-child:before {
      content: "" !important;
      padding: 0;
    }
  }
}
