//Design Search
.search-form h1 label {
  font-size: 18px;
  line-height: 1.25;
}

.searchfield {
  margin-bottom: 1em;
}

#search-results-all p {
  font-size: 18px !important;
}

.register-results {
  p.title {
    font-size: 18px !important;
    font-weight: 700;
  }
  margin-top: 1.5em;
}
