//Colours
$ipo: $department-for-business-innovation-skills;
$black_70: rgba(0, 0, 0, .7 );
$black_60: rgba(0, 0, 0, .6 );
$panel-colour: $grey-3;
$border-colour: $grey-2;
$background-colour: $white;
$focus-colour: $yellow;