html {
    position: relative;
    min-height: 100%;
    background-color: $white;
}
body {
    margin: 0 0 271px; /* bottom = footer height + border (1px)*/
}
body.no-footer {
    margin-bottom: 0; /* bottom = footer height + border (1px)*/
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 270px;
    width: 100%;
}
.footer-meta {
    padding-bottom: 0;
}
