::-webkit-input-placeholder { /* WebKit browsers */
  color: $text-colour;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $text-colour;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $text-colour;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: $text-colour;
}
