/*###################
### FILE UPLOADER ###
####################*/

.upload-requirements h2{
    margin-top: 0;
}
.upload-requirements h3{
    margin-top: 0.5em;
    font-size: 20px
}
.upload-requirements .column-third {
    margin-bottom: 1em;
}


.file-uploader-wrap {
	background-color: $grey-4;
	border: 2px dashed $grey-3;
	padding: 0.5em 1em;
	text-align: left;
	margin-bottom: 0.5em;
}
.file-uploader {
	display: block;
	.heading-small {
		margin-top: 0.5em;
		padding-bottom: 0.5em;
	}
	.fileinput-button {
		margin-top: 0.6em;
		padding-bottom: 0.5em;
	}
	.hide {
		display: none;
	}
	.progress-data {
		display: block;
		right: 0;
		padding-top: 0.5em;
		text-align: center;
		width: 100%;
		span {
			display: block;
			font-weight: 700;
			text-align: center;
			font-size: 36px;
		}
	}
	.progress {
		height: 30px;
		margin: 0;
		text-align: center;
		overflow: hidden;
		background-color:#222;
	}
	.progress-bar {
		float: left;
		width: 0;
		height: 30px;
		transition: width 0.6s ease;
		background-color: $govuk-blue;
		display: block;
		border: none !important;
	}
	.upload-progress {
		padding: 0.5em 0;
		text-align: center;
		p {
			margin-bottom: 0.5em;
		}
	}
	.drag-drop {
		display: inline-block;
		i {
			&.fa-file-o {
				color: #999;
			}
			&.fa-mouse-pointer {
				color: #333;
			}
		}
	}
	.drag-drop-text {
		display: inline-block;
		padding: 0 0 0 0.2em;
		margin: 0;
	}
}
@media(min-width: 641px) {
	.file-uploader {
		.hide {
			display: block;
		}
		.column-half.hide {
			padding-bottom: 0.5em;
		}
	}
}
