/* EXPANDABLE CONTENT: GOODS AND SERVICES */
.subsection__header {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.subsection__title button {
  font-size: 14px !important;
  font-weight: 700;
}

.subsection__content p {
  padding: 0 0 5px 0 !important;
}
