table {
    .heading-medium {
        margin-top: $gutter-two-thirds;
    }
    .heading-medium, p {
        max-width: 570px;
    }
}
table + p {
    margin-top: $gutter-half;
}

.date {
    white-space: nowrap;
}

.table-basic {
    margin: 0;
    th {
        border-bottom: none;
        vertical-align: top
    }
    td {
        border-bottom: none;
        vertical-align: top
    }
    strong {
        font-weight: bold;
    }
}


.table-classification {
  margin: 0;
  tr {
    border-bottom: 1px dashed #CCC;
    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: 1px solid #AAA;
    }
  }
  th, td {
    border-bottom: none;
    vertical-align: top;
  }
  th.col25, td.col25 {
    width: 25%;
  }
  th.col33, td.col33 {
    width: 33%;
  }
  th.col50, td.col50 {
    width: 50%;
  }
  th.col75, td.col50 {
    width: 75%;
  }
}
