@import "_frontend-toolkit-import.scss";

/* Register details header section */
.main-details {
    padding: $gutter 0 0 0;
    @include media(mobile) {
        padding-top: $gutter-half;
    } 
    .subtitle {
        margin: 0;
    }
    .data {
        .heading-xlarge {
            margin: 0;
            @include bold-48;
            @include media($max-width : 870px) {
                @include bold-36;
                
            }
            @include media(mobile) {
                margin-bottom: $gutter-half;
            } 
        }
        &.offset {
            padding-top: 26px;
            @include media(mobile) {
                margin: 0 0 $gutter-half 0;
                padding: 0;
            } 
        }
    }
}


// Section
section {
    margin-bottom: $gutter*1.5;
    padding: 0
}


// Related: Blue border
.related {
    border-top: 10px solid #005ea5;
    margin: 0;
    padding-bottom: 1em;
}



// Divider: Solid
.divider {
    display: block;
    border-bottom: 1px solid $border-colour;
    padding-bottom: $gutter;
    margin-bottom: $gutter;
}

// Divider: Dash 
.divider.dashed
{
    border-bottom: 1px dashed $grey-3;
}


// Clearfix
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}



// Alternate: Column Quarter 
.register-results .column-quarter {
width: 20%;
}
@media (max-width: 641px) {
.register-results .column-quarter {
width: auto;
}
}
.column-quarter.thumb-description
{
    padding: 0;
    float:right;
    width: 20%
}
.column-quarter.thumb-description .uploaded-image-wrap {
    margin: 0;
    width: auto
}
.column-quarter.thumb-description .uploaded-image
{
    height: 100px
}
@media (max-width: 801px) {
    .column-quarter.thumb-description {
    float: none;
    width: auto
    }
    .column-quarter.thumb-description .uploaded-image-wrap {
    margin: 0 0 1em;
    }
}

// Amend: Register results list image
section.register-results img 
{
    width: 80px;
}
