
@import "_frontend-toolkit-import.scss";


.upload-example {
	display: block;
	background-color: $grey-4;
	&.clear {
		background-color: transparent;
	}
	img {
		width: 100%;
		height: auto;
		display: block;
	}
	ul {
		margin: 0 0.5em 0 2em;
		padding: 0.4em 0 0 0;
		min-height: 5em;
		li {
			font-size: 16px;
		}
	}
}
.fa-times {
	color: $red;
}
.fa-check {
	color: $green;
}

.grid-row {
	&.uploads {
		padding: 1em 0;
		.column-quarter {
			margin-bottom: 1.5em;
		}
	}
	&.gallery {
		padding: 1em 0;
		margin: 0 0 0.5em 0;
		border-bottom: 1px dashed $grey-3;
		.column-quarter {
			padding: 0;
			display: inline-block;
			width: 100%;
		}
		.column-two-thirds {
			box-sizing: border-box;
			padding: 0.5em 0 0 0;
		}
		p {
			margin: 0 0 1em 0;
			&:last-child {
				margin: 0;
			}
			&.bold-small {
				margin: 0;
			}
		}
	}
}
@media(min-width: 641px) {
	.grid-row {
		&.uploads {
		}
		&.gallery {
			padding: 1em 0;
			.column-quarter {
				padding: 0;
				display: inline-block;
				width: 25%;
			}
			.column-two-thirds {
				padding: 0 0 0 2em;
				float: left;
				width: 75%;
			}
			p {
				margin: 0 0 1em 0;
			}
		}
	}
	.image-frame {
		margin: 0 0 0.5em 0;
	}
}
.uploaded-image-wrap {
	margin: 0 0 1em 0;
	border: 1px solid $grey-3;
	padding: 0.5em;
	position: relative;
	p {
		margin-bottom: 0.5em;
		&.bold-small {
			margin-bottom: 0;
		}
	}
}
.uploaded-image-space {
	border: 1px solid $grey-3;
	padding: 0.5em;
	position: relative;
	p {
		margin-bottom: 0.5em;
		&.bold-small {
			margin-bottom: 0;
		}
	}
}
.uploaded-image {
	width: auto;
	height: 130px;
	text-align: center;
	position: relative;
	img {
		max-width: 100%;
		max-height: 100%;
		padding: 0;
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.uploaded-image a
{
		display:block;
        outline: none;
}
.uploaded-image a:active img,
.uploaded-image a:focus img
{
		outline: 3px solid $yellow

}

.uploaded-info {
	height: 70px;
	margin-top: 0.5em;
	p.text {
		font-size: 16px;
		text-align: center;
		overflow: hidden;
		max-height: 2.6em;
		margin-bottom: 0;
		max-width: 100%;
	}
}
.uploaded-info.summary {
	height: auto;
}
.image-frame {
	float: none;
	margin: 0;
	padding: 3px;
	a {
		display: block;
	}
	img {
		width: 100%;
		height: auto;
		display: block;
	}
}


.upload-examples .column-third {
	margin-bottom: 1.5em;
}
.gallery-wrap > div:last-child {
	border-bottom: none;
}



.uploaded-summary-wrap {
	margin: 0 0 1.5em 0;
	padding: 0;
	display: block;
}
.uploaded-summary {
    border: 1px solid $grey-3;
	padding: 0.3em;
	position: relative;
	float: left;
	width: auto;
	margin: 0 0.4em 0.5em 0;
    p {
		margin-bottom: 0.5em;
		&.bold-small {
			margin-bottom: 0;
		}
	}
}

.uploaded-summary a:focus img
{
	outline: 3px solid $yellow
}

.summary-image {
	width: 116px;
	height: 90px;
	text-align: center;
	position: relative;
	img {
		max-width: 100%;
		max-height: 100%;
		padding: 0;
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.summary-image.small {
	width: 90px;
	height: 70px;
}
.summary-image a
{
		display:block;
        outline: none;
}
.summary-image a:active img,
.summary-image a:focus img
{
		outline: 3px solid $yellow

}

