@import "_frontend-toolkit-import.scss";
#messages {
	padding: 1em 0 1em 45px;
    border-bottom: 1px solid #bfc1c3;
    background-image: url("/assets/images/icon-important.png");
    background-repeat: no-repeat;
    background-position: left center;
}

#notice {
    background: url("/assets/images/icon-important.png") no-repeat scroll 0 0.5em;
    padding: 0.1em 0 0.1em 1em;
    margin: 2em 0 0 0;
    overflow: auto;

    @include media(mobile) {
        background-image: url("/assets/images/icon-important.png");
        background-size: 26px 26px;
    }
    p {
        font-weight:600;
        a {
            font-weight: normal;
        }
    }
    p, dl {
        padding: 0 1em 0 2em;
        margin: 0.8em 0 0.55em;

        @include media(mobile) {
            padding-left: 1.2em;
        }
    }
}
