.upload-example {
    display: block;
    background-color: $grey-4;

    &.clear {
        background-color: transparent;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    ul {
        margin: 0 0.5em 0 2em;
        padding: 0.4em 0 0 0;
        min-height: 5em;

        li {
            font-size: 16px;
        }
    }
}

.uploaded-image-wrap {
    margin: 0 0 1em 0;
    border: 1px solid $grey-3;
    padding: 0.5em;
    position: relative;

    p {
        margin-bottom: 0.5em;

        &.bold-small {
            margin-bottom: 0;
        }
    }
}

.uploaded-image-space {
    border: 1px solid $grey-3;
    padding: 0.5em;
    position: relative;

    p {
        margin-bottom: 0.5em;

        &.bold-small {
            margin-bottom: 0;
        }
    }
}

.uploaded-image {
    width: auto;
    height: 130px;
    text-align: center;
    position: relative;

    img {
        max-width: 100%;
        max-height: 100%;
        padding: 0;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.uploaded-image a {
    display: block;
    outline: none;
}

.uploaded-image a:active img,
.uploaded-image a:focus img {
    outline: 3px solid $yellow
}

.uploaded-info {
    height: 70px;
    margin-top: 0.5em;

    p.text {
        font-size: 16px;
        text-align: center;
        overflow: hidden;
        max-height: 2.6em;
        margin-bottom: 0;
        max-width: 100%;
    }
}

.uploaded-info.summary {
    height: auto;
}

.column-quarter.thumb-description {
    padding: 0;
    float: right;
    width: 20%;

    .uploaded-image-wrap {
        margin: 0;
        width: auto;
    }

    .uploaded-image {
        height: 100px;
    }
}

@media (max-width: 801px) {
    .column-quarter.thumb-description {
        float: none;
        width: auto;

        .uploaded-image-wrap {
            margin: 0 0 1em;
        }
    }
}

/* DISPLAY IMAGES */
/* Use instead of the .upload-* ones for playing back uploaded images */
.display-image-wrap {
    border: 1px solid #dee0e2;
    margin: 0;
    padding: 0.5em;
    position: relative;
}

.display-image {
    height: 150px;
    position: relative;
    text-align: center;
    width: auto;

    img {
        bottom: 0;
        left: 0;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        height: auto;
        width: auto;
    }
}
