/*input[type="text"], input[type="number"], input[type="password"], select, textarea {
    padding: 0.5em;
}*/

.form-control-select {
    @include core-19;
    background-color: $white;
    border: 1px solid $grey-2;
    width: 100%;
}

@media only screen and (min-width: 641px) {
    .form-control-select {
        width: 50%;
    }
}

fieldset.form-group {
    margin-left: 0;
}

/* Form Field Modifier */

.form-modifier {
    &.wide textarea {
        width: 100%;
    }

    &.narrow textarea {
        height: 4em;
    }
}
