// Section
section {
    margin-bottom: $gutter*1.5;
    padding: 0;
}
// Related: Blue border
.related {
    border-top: 10px solid $govuk-blue;
    margin: 0;
    padding-bottom: 1em;
}
// Divider: Solid
.divider {
    display: block;
    border-bottom: 1px solid $border-colour;
    padding-bottom: $gutter;
    margin-bottom: $gutter;
}
// Divider: Dash
.divider.dashed {
    border-bottom: 1px dashed $grey-3;
}
// Clearfix
.group {
    &:after, &:before {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    zoom: 1;
}
