.search-form
.search-form .searchfield {
  position: relative;
}

.search-form .searchfield {
  padding-right: 0.5em;
  position: relative;
}

.search-form {
  position: relative;
  margin: 0;
  padding: 10px 0 15px;
  overflow: visible;
}

@media only screen and (min-width: 641px)
{
    .search-form {
      padding: 20px 0 30px;
      width: 66.666%;
    }
}

.search-form .search-input {
  position: static;
  margin: 0;
  padding: 0 50px 0 0;
}

.search-form .search-submit {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 50px;
  overflow: hidden;
}

.search-form h1 {
  @include bold-24;
  padding-bottom: 10px;
}

.search-form input {
  -webkit-appearance: none;
  border-radius: 0;
  @include core-19;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 10px;
  display: block;
  height: 50px;
  border-color: $border-colour;
  border-right: none;
  line-height: 48px!important;
}

input[type="search"] {
  @include core-19;
  text-transform: none;
  background-color: $white;
  border: 2px solid $grey-1;
  min-width: 8em;
  // Important to make the input smaller and for it not to go behind the submit.
  width: 93%;
  @include calc(width, "100% - 49px");
}

.search-form button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: absolute;
  z-index: 4;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border: none;
  overflow: hidden;
  text-indent: -5000px;
  color: $white;
  background-color: $govuk-blue;
  background-image: url("../images/search-button.png");
  background-repeat: no-repeat;
  background-position: -12.5% 50%;
  &:hover {
    background-color: darken($govuk-blue, 5%);
    cursor: pointer;
  }
}
.slow-search-msg {
    display: none;
}
