.results-list {
    list-style: none;
    margin: 0;
    padding: $gutter-half 0 0;

    @include media(tablet) {
        padding: $gutter 0 0;
    }

    li {
        max-width: 32.5em;
        margin: 0;
        padding: 0 0 15px;

        @include media(tablet) {
            padding: 0 0 25px;
        }

        @include ie(6) {
            width: 32.5em;
        }

        a {
            font-weight: normal;
            text-decoration: none;

            &:hover, &:focus {
                color: $link-colour;
                text-decoration: underline;
            }
        }
    }

    li.external {
        border: 1px solid $border-colour;
        padding: 9px;
        margin-bottom: 25px;

        @include media(tablet) {
            padding: 14px;
        }
    }

    h3 {
        @include core-24;
        margin: 0;
        padding-bottom: 2px;
        font-weight: normal;

        a[rel="external"]::after {
            content: "\A0\A0\A0\A0\A0\A0";
        }
    }

    .sections {
        @include core-16;
        margin: 0;
        padding: 0;
        overflow: hidden;

        li {
            margin: 0;
            padding: 3px 0 2px;
            float: left;
            width: 50%;

            @include media(tablet) {
                width: 40%;
            }
        }
    }

    .attributes {
        @include core-14;
        color: $secondary-text-colour;
        padding: 0 0 3px;
        margin: 0;

        li {
            display: inline;
            padding: 0;

            &:after {
                content: ',';
                position: relative;
                left: -0.25em;
            }

            &:last-child::after {
                content: '';
            }
        }
    }

    p {
        @include core-16;
        margin: 0;
        padding: 0 0 3px;

        &.meta {
            word-wrap: break-word;
            color: $secondary-text-colour;

            .subsection,
            .subsubsection {
                // background: transparent image-url("/images/search/separator.png") 0 40% no-repeat;
                padding-left: 15px;
                margin-left: 5px;
            }
        }
    }
}


#top-results {
    position: relative;
    margin: 0;
    padding: 0;
    clear: both;
    background: $white;

    .results-list {
        padding-top: 0;
    }

    .crumbtrail,
    .attributes {
        display: none;
    }
}

#government-results-enhanced {
    @include media(tablet) {
        .filters {
            width: 33%;
            float: left;
        }

        .results {
            width: 66%;
            float: left;
        }
    }
}

.no-results {
    overflow: hidden;
    margin: 0;
    padding: 0;

    @include media(tablet) {
        padding: 0;
    }

    h2 {
        @include core-36;
        font-weight: bold;
    }

    h3 {
        @include core-27;
        font-weight: bold;
    }
}

#search-results-tabs .no-results {
    padding-top: 40px;
}

.nav-tabs {
    @include media(tablet) {
        margin: 0;
        padding: 0 30px;
    }

    ul {
        margin: 0;
    }

    .active {
        a {
            outline: none;
        }
    }
}

.search-launcher {
    padding-top: 30px;
    padding-bottom: 130px;

    @include media(tablet) {
        padding-top: 40px;
        padding-bottom: 300px;

        h1 {
            @include core-48;
            font-weight: bold;
            padding-bottom: 15px;
        }
    }
}

.search-meta {
    overflow: hidden;
    margin: 0;
    padding: 0;

    @include media(tablet) {
        padding: 0;
    }
}

.slow-search-msg {
    display: none;
}

section.register-results {

    p.title {
        margin-left: 15px;
        @include core-19;
        margin-bottom: 0.7em;
    }

    dd, dt {
        @include core-16();
    }

    dd {
        @include bold-16();
        margin-bottom: 0.7em;
    }

    a.thumb {
        display: block;
        margin: 0;
        padding: 0;
    }

    img {
        width: auto;
        height: auto;
        display: block;
    }
}
