nav.time-filter {
    @include core-16;
    margin: 1em 0 2em 0;
    display: block;
    border-bottom: 1px solid $grey-2;
    h2 {
        padding-bottom: 0.5em;
    }
    ul {
        display: block;
        margin: 0;
        padding: 0.5em 0 0 0;
        border-top: 1px dashed $grey-3;
        li {
            display: inline-block;
            margin: 0;
            padding: 0;
            a {
                margin: 0 0 0.5em 0;
                padding: 0.5em 0.6em;
                display: inline-block;
                text-decoration: underline;
                transition: all .2s ease-in-out;
	            -webkit-transition: all .2s ease-in-out;
	            -moz-transition: all .2s ease-in-out;
	            -o-transition: all .2s ease-in-out;
                &.selected {
                    background-color: $govuk-blue;
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }
}
