@import "_frontend-toolkit-import.scss";

fieldset {
    margin: 0;
}
.form-group {
    .pre-input { 
        display: block; 
        float: left;
        margin: 6px 5px 0 0;
        font-weight: bold;
    }
}

select.form-control {
   -webkit-appearance: menulist;
   -moz-appearance: menulist;
   appearance: menulist;
   line-height: 1.5em;
}

legend {
    padding: 0;
}
.form-example {
    &.address {
        @include core-16();
        border: 1px solid $grey-3;
        padding: $gutter $gutter $gutter $gutter*4;
        display: block;
        margin: 0 0 10px;
        @include calc(width, "100% - $gutter");
        .stamp {
            @include core-14();
            text-align: center;
            float: right;
            border: 1px dashed $grey-3;
            width: 40px;
            margin: -10px;
            color: $grey-3;
        }
    }
}
.form-label-bold {
    @include bold-19;
    line-height: 1.5;
    margin-bottom: 0.3125em
}
.form-group:last-child {
    margin-bottom: 0;
}

legend .form-label, legend .form-label-bold {
    padding-bottom: 0;
}




/* Type ahead text box */
.ui-autocomplete {
    padding: 0;
    list-style: none;
    background-color: #fff;
    width: 218px;
    border: 1px solid $border-colour;
    max-height: 350px;
    overflow-x: hidden;
}
.ui-autocomplete .ui-menu-item {
    border-top: 1px solid $border-colour;
    display: block;
    padding: 4px 6px;
    color: $black;
    cursor: pointer;
}
.ui-autocomplete .ui-menu-item:first-child {
    border-top: none;
}
.ui-autocomplete .ui-menu-item.ui-state-focus {
    background-color: $grey-4;
    color: #161A1C;
}