// Max-width set for optimum reading length on headings 
.heading-xlarge, .bold-xlarge {
    max-width: 11.875em;
}
.heading-large, .bold-large {
    max-width: 15.833em;
}
.heading-medium, .bold-medium {
    max-width: 23.750em;
}
.heading-small, .bold-small {
    max-width: 30em;
}
.subtitle {
  color: $grey-1;
  @include core-24;
  margin: $gutter 0 0 0;
}
p.subtitle + h1.heading-xlarge {
    margin-top: 0;
}
#global-header.department {
    #logo {
        @include bold-24;
        font-family: Arial, sans-serif;
    }
}
// Code styles, overriding govuk_elements > _elements-typography > pre,code
pre,
code {
  font-size: inherit;
  border: inherit;
  word-wrap:break-word;
}

// "post-code" needs to be deprecated and replaced by "force-case"
.post-code, .force-case {
    text-transform: uppercase;
}

label strong {
    font-weight: bold;
}

.big-number span {
    display: block;
}

// stop text from breacking out of container
.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
